.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  /* a{
    text-decoration: none;
    font-size: 22px;
    color: black;
  } */

  button:hover, a:hover {
    opacity: 0.7;
  }
  .img-box{
    /* background-color: rgba(0, 0, 0, 0.87); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
  }
  .droite{
    text-align: left;
    margin-left: 4%;
  }
  .link{
    text-decoration: underline;
    color: black;
  }
  .row-image{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fileimg{
    width: 50%;
    text-align: center;
    margin-top: 2%;
    padding: 5px;
    margin: 2%;
  }
  .bloc{
    border: solid 3px rgba(128, 128, 128, 0.712);
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.356);
  }
  .datemembre p{
    text-align: center;
    margin-top: 3%;
  }
  .bloc-choix{
    margin-top: 5%;
  }
  .bloc-choix .active{
    color: black;
    border-bottom: solid 4px rgb(0, 153, 255);
  }
  .bloc-choix a{
    color: rgba(128, 128, 128, 0.671);
    font-weight: bolder;
    font-size: 17px;
  }
  .bloc-choix a:hover{
    text-decoration: none;
  }

  #customalert{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.75);
}

#box{
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 400px;
    height: 150px;
    width: 500px;
    text-align: center;
    box-shadow: 2px 2px 8px black;
    background-color: white;
}
#box .heading{
    background-color: #339966;
    color: white;
    font-size: large;
    padding: 5px;
}
#box .content{
    margin-top: 25px;
    font-size: large;
}
#box #confirmbtn{
    margin-left: 400px;
    width: inherit;
    height: inherit;
}

